*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
  
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}